cloud_id                 = "b1gxxxxxxxxxxxxxxxxx"
folder_id                = "b1gxxxxxxxxxxxxxxxxx"
service_account_key_file = "~/.ssh/yc_terraform_authorized_key.json"

# Количество нод (по умолчанию 1 master и 4 worker)
master_count = 1  # При переходе на HA-кластер достаточно изменить на 3
worker_count = 4

# Путь к публичному SSH-ключу
ssh_public_key_path = "~/.ssh/id_rsa.pub"
