terraform/terraform.tfvars
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform/
terraform/crash.log
terraform/crash.*.log
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json

ansible/inventory.ini
.env.swarm
